#engineChildren::-moz-tree-image(engineShow, checked) {
  list-style-image: url("chrome://searchbuttonsbar/skin/Yes_check.svg");
  height: 14px;
  width: auto;
  padding-left: 20px;
}
#engineChildren::-moz-tree-cell(engineShow) {
  border-left: 1px solid -moz-dialog;
}
#engineChildren::-moz-tree {
  max-height: 16px;
}
#engineChildren::-moz-tree-image(engineName) {
  margin-inline-end: 10px;
  margin-inline-start: 1px;
  width: 16px;
  height: 16px;
}
