.searchbuttonsbar-splitter:first-child,
.searchbuttonsbar-splitter:last-child {
  display: none;
}

.searchbuttonsbar-splitter {
  opacity: 0;
}

#SearchButtonsBar .searchbar-textbox {
    -moz-appearance: textfield;
}
